/************* color **********************/
$color1:#202733;
$color2:#313A48;
$color3:#4F5D74;
$color4:#CEE3E9;
$color5:#53FFAA;


/************* FONT**********************/
@font-face {
    font-family: "Manrope";
    src: url(../fonts/Manrope-VariableFont_wght.ttf);
}

$font1: Manrope, sans-serif;

/************* GENERAL PARAMETER **********************/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
	line-height: 1;
    font-family: $font1;
    font-weight:800;
    color: $color4;
    font-size: 1.75rem;
    text-align: center;
    letter-spacing: -0.3px;
    background: $color1;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}


button{
    border: none;
    outline: none;
}